resource_group_name  = "rg-terraform-state"
storage_account_name = "strenewableopstfstate"
container_name       = "tfstate"
key                  = "renewableops-ai/dev.tfstate"
use_azuread_auth     = true
